# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env
.env.local

# Build outputs
dist/
build/
frontend/dist/

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Database & Utility Scripts
backup_otomatis.sql
db.sql
database.txt
backend/get_hash.js
backend/create_dewan.js

# Uploads
backend/uploads/
